# Others 
*.dia~
out

# SVM Test- und Trainfiles
*.out
*.test
*.train
*.train.model

# Doxygen Files
html/
latex/

# Embarcadero development
*.dsk
*.local
*.stat
*.zip
*.pch
*.#??
*.~*
__history
__recovery/
__astcache/
win32
win64
debug
out/debug

# third party delphi
#

# Nusphere PHP IDE
*.idx
*.ppx
*.ppx.*
*$wrk

# Compiled Object files
*.i
*.obj
*.$$$

# Compiled Dynamic libraries
#*.dll

# Compiled Static libraries
#*.lib

# Executables
#*.exe
*.out
*.app
*.xls
*.map
*.tds
